@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 14px;
  padding-right: 16px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

section {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #f57820;
}
.is-sticky {
  display: none;
}
.banner-sec {
  min-height: calc(100vh - 0px);
}
.header2 {
  overflow: hidden;
  margin-top: -130px;
  background-color: #171c28;
}
.header-sticky {
  box-shadow: 0 2px 24px 0 rgba(182, 141, 141, 0.15);
  /* background-color: #ffffff !important; */
}
.header2-sticky2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  box-shadow: 0 2px 24px 0 rgba(182, 141, 141, 0.15);
  /* background-color: #ffffff !important; */
  padding: 0 20px;
  transition: 0.5s;
}
.header2-sticky2 {
  margin-top: 0px;
}
.list-none {
  padding-top: 80px;
}
.list-none li {
  font-size: 30px !important;
  color: #fff;
}
.list-none li a {
  color: #fff;
  padding: 10px 15px;
  transition: 0.5s;
}
.list-none li a:hover {
  color: rgb(29, 27, 27);
}
.navbar-mobile {
  display: block;
  align-items: baseline;
  flex-wrap: unset;
  padding: 0.9rem 1.6rem 1.3rem 3.4rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background-color: #fd6e0a;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.menu-is-open .navbar-mobile {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  /* transform: translateX(0); */
}

.click-capture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s;
}
.menu-is-open .click-capture {
  visibility: visible;
  opacity: 1;
}
.menu-is-open {
  overflow: hidden;
}

ul {
  list-style: initial;
}

.order-row .exp-lft::before {
  right: -9px;
  left: initial;
}
.order-row .exp-lft::after {
  right: -9px;
  left: initial;
}

.exp-lft::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #f57820;
}
.exp-lft::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  bottom: 0;
  background: #fff;
  border: 2px solid #f57820;
}
.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #f57820;
  bottom: 0;
  left: 0;
}
.border-b {
  border-bottom-width: 1px;
  border-bottom: 1px solid rgb(129 124 124 / 10%);
}

.fill-current {
  transition: 0.5s;
  fill: #ffe7e76b !important;
}

.experience-info {
  bottom: -52px;
  left: 50%;
  display: flex;
}
.fp-section {
  height: 100vh !important;
}
.fp-overflow {
  padding-top: 100px;
}
#myMenu {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
}

.bg-primary {
  background-color: #fd6e0a;
}
.text-primary {
  color: #fd6e0a;
}

body {
  background-color: #171c28;
  color: #bdbdbd;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.about-info ul {
  list-style: none !important;
}

.text-black,
.fill-black {
  transition: 1s;
}
.navbar {
  padding: 0;
}
.footer {
  display: block !important;
}

.banner {
  display: none;
}
.hdr-cntlr ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  padding-top: 25px;
}
.hdr-cntlr li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  letter-spacing: 1px;
  padding: 5px;
  display: inline-block;
}
.hdr-cntlr li a:hover {
  color: #f57820;
}
.hdr-cntlr li a:after {
  content: "";
  position: absolute;
  height: 10px;
  background: #f57820;
  width: 5px;
  top: 100%;
  left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: all.5s;
}
.hdr-cntlr li a:hover:after {
  height: 40px;
  opacity: 1;
}
.hdr-cntlr li {
  padding: 50px 70px;
}
.my-portfolio-cnt-cntlr {
  margin-left: 240px;
}
.banner-sec {
  height: initial !important;
  margin-top: 40px;
}
.banner-sec,
.experience-sec,
.project-sec,
.contact-sec {
  background-image: url("./assets/hm-banner-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 30px;
  padding-top: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}
.experience-sec {
  background-image: url("./assets/images/27230.jpg") !important;
  background-size: cover !important;
  background-position: top center !important;
  padding: 150px 0;
}
.about-sec {
  padding-top: 30px;
  padding-bottom: 0px;
}
.project-sec {
  background-image: url("./assets/projects-bg.jpg");
  background-size: cover !important;
  height: initial !important;
  padding-top: 40px;
  padding-bottom: 20px;
}
.contact-sec {
  background-image: url("./assets/contact-bg-2.jpg");
  background-size: cover !important;
  padding: 110px 0;
}
.testimonial-sec {
  padding-top: 150px;
  padding-bottom: 100px;
}
.blog-sec {
  opacity: 0.9;
  color: #fff;
  background: black;
  min-height: 100vh;
  padding: 80px 0;
}
.skills-sec {
  padding-top: 90px;
}

.hm-bnr-black-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 1;
  opacity: 0.9;
}

.ltr-spacing {
  letter-spacing: 2.5px;
}
.banner-cntlr {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.bnr-lft {
  width: 60%;
}
.bnr-rgt {
  width: 40%;
  position: relative;
}
.bnr-rgt img {
  padding: 40px;
}
.bnr-rgt:after {
  content: "";
  position: absolute;
  top: 0;
  left: 27%;
  right: 0;
  bottom: 0;
  border: 5px solid #f57820;
  border-radius: 0 10px 0px 10px;
  z-index: -1;
  animation: example linear 10s infinite alternate;
  animation-duration: 4s;
  /* animation-delay: -2s; */
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    left: 75%;
    border: 5px solid #f57820;
  }
  100% {
    left: 27%;
    border: 5px solid #ffffff;
  }
}
.bnr-ttle span {
  background-color: #f57820;
  /* border-radius: 5px; */
}
.hi-text {
  color: #f57820;
  background-color: initial !important;
}
.bnr-ttle {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1;
}
h1.bnr-ttle2 {
  margin: 5px 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40;
}
.banner-cntlr p {
  max-width: 500px;
  width: 100%;
  line-height: 27px;
  margin-bottom: 27px;
}
.bnr-btn-1 .btn-1 {
  display: flex;
  align-items: center;
}
.btn-1 {
  display: inline-block;
  vertical-align: baseline;
  min-width: 140px;
  color: #fff;
  font-weight: 500;
  padding: 14px 14px;
  text-align: center;
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
  cursor: pointer !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.btn-2 {
  background: transparent;
  border: none;
  min-width: 0;
  padding: 0;
  margin-left: 27px;
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-2::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -3px;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}
.btn-2:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.btn-1:after {
  transition: all 0.25s;
  content: "";
  display: inline-block;
  border-left: 0 solid #fff;
  margin-left: 0;
  opacity: 0;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
}
.resume-btn.btn-1 {
  margin-top: 20px;
  color: #fd6e0a !important;
}
.resume-btn.btn-1:hover:after {
  border-left: 8px solid #fd6e0a !important;
}
.btn-1:hover:after {
  border-left: 8px solid #fff;
  margin-left: 5px;
  opacity: 1;
}
.btns-cntlr {
  display: flex;
  align-items: center;
}
.about-cntlr {
  align-items: center;
  display: flex;
}

.custom-link {
  width: 254px;
  margin-left: auto;
  height: 31px;
  transition: all 0.7s;
}
.contact-sec .btn-1 {
  width: 170px;
}

.slick-prev,
.slick-next {
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
  transform: translate(0, -50%) !important;
  cursor: pointer;
  background-size: contain !important;
  z-index: 9;
  top: 240px !important;
}
.slick-prev {
  left: 70px !important;
}
.slick-next {
  left: 120px !important;
}
.slick-prev::before {
  background-image: url("./assets/left-arrow.jpg") !important;
}
.slick-next::before {
  background-image: url("./assets/left-arrow.jpg") !important;
  transform: rotate(-180deg);
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  right: 0;
  bottom: 0;
  font-size: 20px;
  width: 35px !important;
  height: 35px !important;
  content: "" !important;
  line-height: 1;
  opacity: 0.3 !important;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1 !important;
}
.slick-next {
  left: 30px;
  right: initial !important;
}

.c-grid {
  display: grid;
  grid-template-columns: 20% minmax(auto, 80%);
}
.fp-watermark {
  display: none !important;
}
.social-design {
  display: block !important;
  text-align: right;
}
.social-design a svg {
  fill: white !important;
}
.social-design a:first-child {
  padding: 8px 9px 5px 9px;
}

.social-design a {
  display: inline-block;
  border-left: 3px solid #f57820;
  border-right: 3px solid #f57820;
  border-top: 3px solid #f57820;
  padding: 8px 5px 5px 5px;
  border-radius: 100%;
  background: rgb(181 170 170 / 82%);
  transition: 0.5s;
  margin-right: 10px;
}

.social-design a:hover {
  background-color: #d36f27;
}
.navbar-mobile .social-design {
  text-align: left;
  display: none !important;
}
.navbar-mobile .list-none {
  padding-top: 35px;
  list-style: none !important;
}
.navbar-mobile .social-design a {
  padding: 8px 9px 5px 9px !important;
  background-color: initial !important;
}
.navbar-mobile .social-design a:first-child:hover {
  padding: initial !important;
}
.navbar-mobile .social-design a:first-child:hover {
  padding: 8px 9px 5px !important;
}
@media screen and (min-width: 576px) {
  .navbar-mobile {
    width: 50%;
    max-width: 28rem;
  }
}
@media screen and (max-width: 1199px) {
  .experience-sec {
    padding: 120px 0;
  }
  .testimonial-sec {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .contact-sec {
    padding: 120px 0;
  }
  .text-5xl {
    font-size: 36px;
  }
  .text-3xl {
    font-size: 30px;
  }
  .bnr-ttle {
    font-size: 60px;
  }
  .section-title {
    margin-bottom: 45px;
  }
  .pb-36 {
    padding-bottom: 120px;
  }
  .c-grid {
    display: grid;
    grid-template-columns: 23% minmax(auto, 77%);
  }
}
@media screen and (max-width: 992px) {
  .header-sticky,
  .header2-sticky2 {
    padding: 0 20px;
  }
  .banner-cntlr {
    flex-direction: column;
    align-items: center;
  }
  .bnr-lft {
    margin-bottom: 60px;
  }
  .container {
    padding: 0 20px;
  }
  .bnr-rgt {
    width: 100%;
  }
  .bnr-rgt img {
    padding-left: 0;
  }
  .experience-sec {
    padding: 80px 0;
  }
  .experience-info {
    bottom: -55px;
  }
  .abt-ttle {
    margin-bottom: 20px;
  }
  .testimonial-sec {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .c-grid {
    display: grid;
    grid-template-columns: 25% minmax(auto, 75%);
  }
  .text-2xl {
    font-size: 22px;
  }
  .pr-14 {
    padding-right: 1.5rem;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .text-3xl {
    font-size: 27px;
  }
  .text-5xl {
    font-size: 34px;
  }
  .blog-sec {
    min-height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .navbar-mobile .social-design {
    padding-top: 20px;
  }
  .abt-rgt {
    padding-right: 0 !important;
  }
  .header-sticky,
  .header2-sticky2 {
    padding: 0 20px;
  }
  .bnr-lft {
    width: 100%;
  }
  .navbar-mobile .social-design {
    display: block !important;
  }
  .footer {
    display: none !important;
  }
  .d-none {
    display: none !important;
  }
  .container {
    padding: 0 20px;
  }
  .about-cntlr {
    flex-direction: column;
  }
  .abt-rgt,
  .abt-lft {
    width: initial !important;
    margin-left: 0;
  }
  .abt-lft {
    margin-top: 40px;
  }
  .experience-sec .experience-cntlr {
    padding: 0 0;
  }
  .project-sec .grid .project-item-view {
    background: #161b22;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.07);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    cursor: pointer;
  }

  .project-sec .grid .project-item-view:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
  }
  .project-sec .grid .project-item-view .h-52 {
    height: 20rem;
  }
  .c-grid {
    display: block;
  }
  .c-grid .text-2xl {
    padding-top: 5px;
  }
  .contact_form {
    margin-top: 45px;
  }
  .navbar-mobile .bnr-btn-1 {
    margin-top: 40px;
  }
  .bnr-ttle br {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .navbar-mobile .social-design a {
    padding: 4px 4px 2px 4px !important;
  }

  .header-sticky,
  .header2-sticky2 {
    padding: 0 20px;
  }
  .experience-cntlr {
    display: block;
  }
  .exp-rgt {
    width: 100%;
    margin-bottom: 30px;
  }
  .skills-sec .exp-rgt {
    margin-bottom: 0px;
  }
  .btn-1 {
    padding: 8px 12px;
  }
  .detailsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-4xl {
    font-size: 32px;
  }
}
@media screen and (max-width: 550px) {
  .navbar-mobile {
    padding: 0.9rem 23px 1.3rem 2rem;
  }
  .navbar-mobile .social-design a {
    padding: 6px 6px 4px !important;
  }
  .header-sticky,
  .header2-sticky2 {
    padding: 0 20px;
  }
  .bnr-rgt img {
    padding: 25px;
    padding-left: 0;
  }
  .detailsGrid {
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
  }
  .experience-cntlr {
    padding: 0 0px;
  }
  .skills-sec {
    padding-bottom: 40px;
  }
  .bnr-ttle {
    font-size: 46px;
  }
  .exp-lft {
    padding-left: 50px;
  }
  .pb-36 {
    padding-bottom: 80px;
  }
  .slick-slide img {
    width: 30px;
  }
  .para-quote {
    padding-left: 50px;
  }
  .slick-prev,
  .slick-next {
    top: 240px !important;
  }
}
